

{% block content %}


{% load static %}


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link rel="shortcut icon" type="image/png" href="{% static 'images/logo.png' %}"/>
<link href="{% static 'css/login_style.css' %}" rel="stylesheet">
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/d9e2990509.js" crossorigin="anonymous"></script>

<title>Octo-OP</title>
<body>
    <div class="box-form">
        <div class="left">
            <div class="overlay">
                <h1>Octo-OP APP</h1>
                <br>
                <p>Software de gestión de recursos para PYMES de venta de clones y perífericos.</p>
            </div>
        </div>

        <div class="right">
            <div class="circular-landscape">
                <a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
            </div>
            
            <form method="post"  class="form-style">
                {% csrf_token %}
                <div class="inputs">
                    <input type="text" name="username" placeholder="username">
                    <input type="password" name="password" placeholder="contraseña">
                </div>
                <button type="lsubmit">Ingresar</button>
                <br><br>
            </form>
			<p>¿Olvidaste tu contraseña?</p>
        </div>
        <br>
    </div>
</body>


{% endblock %}

