{% load static %}


<div class="footer-basic">
    <footer>
        <div class="social">
            
            <a href="https://twitter.com/UNOctocon"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100088318477428"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/unoctopus/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://paypal.me/DrRebusque?country.x=CO&locale.x=es_XC"><i class="fa-brands fa-paypal"></i></a>
            
        </div>
        <ul class="list-inline">

            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="{% url 'about-us' %}">Sobre Nosotros</a></li>
            <li class="list-inline-item"><a href="#">Términos</a></li>
            <li class="list-inline-item"><a href="">Política de Privacidad</a></li>

        </ul>
        <p class="copyright">Octocon @ 2022</p>
    </footer>
</div>