{% load static %}


<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://trello.com/b/FfTJrhx8/scrum"><i class="fa-brands fa-trello"></i></a>
            <a href="https://drive.google.com/drive/folders/1NzspjYBQ2xsJGLiwYThu2F4JfdsBm4ZF?usp=sharing"><i class="fa-brands fa-google-drive"></i></a>
            <a href="https://github.com/ClonesAPP/CA-BackEnd"><i class="fa-brands fa-github"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="">Sobre Nosotros</a></li>
            <li class="list-inline-item"><a href="#">Términos</a></li>
            <li class="list-inline-item"><a href="">Política de Privacidad</a></li>
        </ul>
        <p class="copyright">Octocon @ 2022</p>
    </footer>
</div>