{% extends 'main.html' %}

{% block content %}



<div id="wrapper-box">
    <div id="form-wrapper">  
        <h2>COTIZACIONES</h2>
        <a href="{% url 'create-client' %}">Crear Cliente</a>
        <a href="{% url 'create-quotation' %}">Crear Cotizacion</a>
        <!--
        <form class="d-flex" method=POST action="{% url 'search-quotation' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Buscar" name="searched">
            <button class="btn search-button" type="submit">Buscar</button>
        </form>
        -->

        <hr>
        <div id="cards">
            {% for quotation in quotations %}
                <div class="card">
                    <span>Cliente: {{quotation.client.name}}</span>
                    <h5>{{quotation.id}} -- <a href="{% url 'cart' quotation.id %}"> {{quotation}}</a></h5>
                    <h5>{{quotation.created_at}} </h5>
                    <a href="{% url 'update-quotation' quotation.id %"></a>
                    <a href="{% url 'delete-quotation' quotation.id %}">Borrar</a></h5>
                </div>
            {% endfor %}
        </div>
    </div>    
</div>

{% endblock content %}
