*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'sans-serif';
    color: #824285;
}


.form-box {
    width: 300px;
    padding: 30px;
    background: white;
    text-align: center;
    font-family: 'sans-serif';
}

.form-title {
    color: #824285;
    font-family: 'sans-serif';
    text-transform: uppercase;
    font-weight: 700;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box button[type="lsubmit"],
.form-box button[type="rsubmit"] {
    font-family: 'sans-serif';
    border: 20px;
    background: white;
    display: block;
    margin: 20px auto;
    padding: 10px 11px;
    text-align: center;
    border: 2px solid #824285;
    width: 200px;
    outline: none;
    color: white;
    border-radius:20px;
    transition: 0.30s;
}
.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus {
    width: 250px;
    border-color: blue;
}

.form-box button[type="lsubmit"] {
    border: 0;
    background: #824285;
    cursor: pointer;
    border: 2px solid bisque;
}

.form-box button[type="lsubmit"]:hover {
    background: blue;
}   

.form-box button[type="rsubmit"] {
    border: 0;
    background: #824285;
    cursor: pointer;
    border: 2px solid bisque;
}

.form-box button[type="rsubmit"]:hover {
    background: blue;
}

.logo{
    background: transparent;
    height: 250px;
    width: 250px;
}